[user]
	name = Tanvir Alam
	email = 8191415+DarkPortrait@users.noreply.github.com
	username = DarkPortrait 
	signingkey = 44A788C20614DDD7
[core]
	editor = vim
	whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
[web]
	browser = google-chrome
[commit]
	gpgsign = true
